/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


html {
    line-height: 1.4;
    text-align: center;
    background-color: #ffffff;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*::selection {
    background: #b3d4fc;
    text-shadow: none;
}*/

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*_____________________________ Media queries __________________________________*/


/*_______Smartphones_______*/



@media only screen and (max-width: 320px) {
    /*=======Styles go here=======*/
    body {
        background: #fff;
    }
    figure img {
        width: 120px;
        height: 120px;
        padding: 20px 20px;
        text-align: center;
    }
    li {
        display: block;
    }
    .section_achievements,
    .first_batch_achievements {
        display: flex;
        flex-direction: column;
    }
    .section_achievements,
    .second_batch_achievements {
        display: flex;
        flex-direction: column;
    }
    .section01_achievements,
    .section02_achievements,
    .section03_achievements,
    .section04_achievements,
    .section05_achievements,
    .section06_achievements {
        width: 100%;
    }
}

/*_______Tablets______*/

@media only screen and (max-width: 480px) {
    /*=======Styles go here=======*/

    #figure .section_achievements {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .section_achievements,
    .first_batch_achievements {
        display: flex;
        flex-direction: column;
    }
    .section_achievements,
    .second_batch_achievements {
        display: flex;
        flex-direction: column;
    }
}

/*_______Medium devices______*/

@media only screen and (max-width: 1200px) {
    body {
        background: #c6d8a6;
    }
}

/*_____________________________________________________________________body___*/




/******************************************************************************/
/**************************** index.html **********************************/
/******************************************************************************/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFD43B;
    font-family: 'Prompt', sans-serif;
    width: 80%;
    margin-left:auto;
    margin-right:auto;

}

/*______________________________________________________________________nav___*/

header {
    background-color: #FFD43B;
    height: 20%;

}
li {
    float: left;
    padding-right: 40px;
    list-style-type: none;
    font-weight: bold;
    color: #222222;
}

li:hover {
    background-color: #E6D8A1;
}

ul {
    padding-bottom: 20px;
}
a {
    text-decoration: none;
    color: #222222;

}
td {
    height: 300px;
    text-align: center;
}
nav {
    margin: 10px 0;
}

ul.nav li a:hoover{
    background-color: yellow;
}
hr{
    color: #534228;
}

/*____________________________________________________________________/ nav___*/


/*__________________________________________________________________section___*/

figure .index_photo {
    width: 220px;
    height: 370px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(img/photo_JB.jpg) no-repeat;
    box-shadow: 20px 20px 5px #534228;
    -webkit-box-shadow: 20px 20px 5px #534228;
    -moz-box-shadow: 20px 20px 5px #534228;
}
h1 {
    font-family: 'Concert One', cursive;
    color: #534228;
    text-shadow: 2px 2px #9898A2;
}
.main_section_index{
display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.container1_index{
    float: left;
    width: 30%;

}
.container2_index{

    width: 30%;
}
/******************************************************************************/
/**************************** biography.html **********************************/
/******************************************************************************/

b {
    color: #FFD43B;;
}
.sky_pic {
   width: 100%;

}
.section1 {
    display: flex;
    /* or inline-flex */
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding: 5px 5px;
    text-align: center;
    justify-content: center;
}
.section01_biography {
    border-radius: 200px;
    background-repeat: no-repeat;
    padding: 20px 20px;
    box-shadow: 20px 20px 5px #534228;
    width: 100%;
    background-color: #fff;

    float: right;
    margin: 20px 0 0 0;
}
.section02_biography {
    border-radius: 200px;
    padding: 20px;
    box-shadow: 20px 20px 5px #534228;
    width: 43%;
    background-color: #fff;
    text-align: center;
    justify-content: space-around;
    margin: 20px 0 10px 0;
}
.section03_biography {
    border-radius: 200px;
    background-repeat: no-repeat;
    padding: 20px 20px;
    box-shadow: 20px 20px 5px #534228;
    width: 100%;
    background-color: #fff;

    float: left;
    margin: 20px 0 0 0;
}
.section04_biography {
    border-radius: 200px;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 20px 20px 5px #534228;
    width: 43%;
    background-color: #fff;
    text-align: center;
    float: left;
    margin: 20px 0 30px 0;
}

/*________________________________________________________________/ section___*/

/*_____ flags _ section _________*/

.section02_biography a img {
    height: 30px;
    width: 60px;
    padding: 4px;
}
.section04_biography a img {
    height: 30px;
    width: 60px;
}



/******************************************************************************/
/**************************** achievements.html ********************************/
/******************************************************************************/

.first_batch_achievements,
.second_batch_achievements{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.section_achievements {
    width: 80%;
    margin: auto;
    padding: 5px 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section01_achievements,
.section02_achievements,
.section03_achievements,
.section04_achievements,
.section05_achievements,
.section06_achievements {
    border-radius: 200px;
    padding: 20px;
    box-shadow: 20px 20px 5px #534228;
    width: 44%;
    background-color: #2E2E2D;
    text-align: left;
    color: #ffffff;
    font-weight: 600;
    margin: 30px 10px 20px 0;
}
.section04_achievements,
.section05_achievements,
.section06_achievements {
    margin: 30px 10px 30px 0;
		padding-top: 30px;
		padding-bottom: 30px;
}
/******************************************************************************/
/**************************** goals.html **************************************/
/******************************************************************************/

.container_goals {
			width: 80%;
	    margin: 0 auto 0 auto;
	    padding: 5px 5px;
			display: flex;
			flex-direction: column;
		align-content: center;
		}
																								/*C A R O U S E L  starts here*/
 .carouselbox {

      width: 700px;
      position: relative;
      margin: 1em;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 10px #ccc;
      overflow: hidden;

    }
    .content {
      margin: 0;
      padding: 0;
    }
    .content li {
      font-size: 350px;

      width: 100%;
      list-style: none;
      text-align: center;
      z-index: 2;
    }
    .active {
      height: 440px;
			margin: 0 auto 0 auto;

    }
    .carouselbox button {
      border: none;
      visibility: hidden;
    }
    .active button {
      visibility: visible;
    }
    .offscreen {
      position: absolute;
      left: -2000px;
    }
    .active .buttons {
      padding: 5px 0;
      background: #eee;
      text-align: center;
      z-index: 10;
      position: relative;
    }
    .active li {
      position: absolute;
      top: 10px;
      opacity: 0;
      transform: scale(0);
      transition: 1s;
    }
    .active li.current {
      top: 0;
      opacity: 1;
      transform: scale(1);
      transition: 1s;


    }
		.lang{
			text-align: center;
			text-shadow: 2px;
		}
        .current{
            height: 20%;
        }


/*C A R O U S E L  ends here*/

/******************************************************************************/
/**************************** contact.html *****************************************/
/******************************************************************************/

.email{

  top: 70%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-weight: bold;

   font-family: 'Concert One', cursive;
   color: #534228;
   text-shadow: 2px 2px #9898A2;
   font-size: 30px;
}
.main_contact{
    margin-top: 70%;
}
/******************************************************************************/

/******************************************************************************/
/***************       shared properties of c l a s s e s        **************/
/******************************************************************************/


.section01_biography,
.section02_biography,
.section03_biography,
.section04_biography,
.section01_achievements,
.section02_achievements,
.section03_achievements,
.section04_achievements,
.section05_achievements,
.section06_achievements {
border-radius: 200px;
box-shadow: 20px 20px 5px #534228;
background-color: #2E2E2D;
text-align: center;
color: #ffffff;
font-weight: 600;
}



/******************************************************************************/
/**************************** FOOTER ******************************************/
/******************************************************************************/

footer {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: space-around;
    margin-top: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #222222;;
    background-color: #FFD43B;
	font-weight: bold;
}
/*_________________________________________________________________/ footer___*/


/*___________________________________________________________________/ body___*/


/* *****************************************************************************
   Helper classes
   ************************************************************************** */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* *****************************************************************************
   Print styles
  *************************************************************************** */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
